.container {
  .carousel-container {
    height: 52.5rem;
    width: 52.5rem;
    background-color: var(--secondary);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .carousel-item-title {
      color: white;
    }

    .button {
      height: 6rem;
      width: 25rem;
    }
  }
}

.donation-container {
  .donation-description {
    text-align: justify;
    margin: 3.2rem 0;
  }

  .donation-payments {
    display: flex;
    column-gap: 0.8rem;
    justify-content: space-between;
    align-items: center;

    .image {
      width: 15rem;
    }
  }
}

@media (max-width: 750px) {
  .container {
    .carousel-container {
      width: 25rem;
      height: 40rem;
      border-radius: 3.2rem;

      .carousel-item-title {
        color: white;
        font-size: 2rem;
      }

      .button {
        height: 6rem;
        width: 23rem;
      }
    }
  }

  .donation-container {
    .donation-payments {
      flex-direction: column;
      row-gap: 3.2rem;

      .image {
        width: 20rem;
        margin-bottom: 3rem;
      }
    }
  }
}
