.header {
  position: relative;
  width: 100%;
  display: flex;
  height: 12.8rem;
  padding: 3.2rem;
  background-color: var(--primary);
  border-bottom: 0.1rem solid var(--gray-8);

  .logo {
    position: absolute;
    width: 10rem;
    height: 15rem;
    // left: 0.8rem;
    top: -1rem;
  }

  .nav-container {
    display: flex;
    flex: 1;
    margin-left: 8rem;
    align-items: center;
    justify-content: center;
    column-gap: 1.6rem;

    .link {
      font-size: 1.6rem;
      text-align: center;
    }
  }

  .menu-button {
    display: none;
  }

  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.8rem;

    .button {
      width: 4rem;
      height: 4.6rem;

      .login-icon {
        height: 2rem;
      }
    }
  }
}

@media (max-width: 1060px) {
  .header {
    padding: 1.5rem;

    .nav-container {
      .link {
        text-align: center;
      }
    }

    .menu-button {
      display: none;
    }

    .login-container {
      display: grid;
      grid-template: 1fr 1fr / 1fr auto;
      grid-template-areas: 'email button' 'password button';

      .button {
        grid-area: button;
      }
    }
  }
}

@media (max-width: 850px) {
  .header {
    align-items: center;

    .logo {
      position: absolute;
      width: 10rem;
      height: 15rem;
      right: 0.8rem;
      top: -1rem;
    }

    .nav-container {
      display: none;
    }

    .menu-button {
      display: inline;
    }

    .mobile-menu {
      position: fixed;
      inset: 0;
      background-color: var(--primary);
      overflow: hidden;
      z-index: 99999 !important;
      display: flex;
      align-items: center;
      justify-content: center;

      .close-button {
        position: absolute;
        top: 0.8rem;
        right: 0.8rem;

        .close-icon {
          fill: white;
          color: white;
        }
      }

      .nav-mobile-container {
        padding: 1.6rem;

        .mobile-link {
          font-size: 2.4rem;
          height: auto;
          text-align: center;
        }
      }
    }

    .login-container {
      display: none;
    }
  }
}
