.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'first second';
  padding: 3.2rem 0;

  .inline-input {
    grid-area: first;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .image {
    grid-area: second;
    justify-self: center;
    width: 45rem;
    height: 35rem;
    object-fit: cover;
    border-radius: 1.6rem;
  }

  &.reverse {
    .inline-input {
      grid-area: second;
    }

    .image {
      grid-area: first;
      justify-self: center;
      width: 45rem;
      height: 35rem;
      object-fit: cover;
      border-radius: 1.6rem;
    }
  }
}

// maximum of 1024px

@media (max-width: 1024px) {
  .container {
    .image {
      width: 32rem;
    }

    &.reverse {
      .image {
        width: 32rem;
      }
    }
  }
}

// maximum of 780px

@media (max-width: 780px) {
  .container {
    display: flex;
    flex-direction: column;

    .inline-input {
      margin-bottom: 3.2rem;
    }

    .image {
      align-self: center;
    }

    &.reverse {
      .inline-input {
        min-height: 0;
        overflow-y: visible;
      }

      .image {
        align-self: center;
      }
    }
  }
}

@media (max-width: 450px) {
  .container {
    .image {
      border-radius: 0;
    }

    &.reverse {
      .image {
        border-radius: 0;
      }
    }
  }
}
