.videos-container {
  padding: 3.2rem;

  .main-video {
    border-radius: 0.8rem;
  }

  .others-videos-title {
    padding: 4rem 0;
  }

  .other-videos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.2rem;
    row-gap: 6.4rem;
    padding-bottom: 3.2rem;

    .video-card {
      display: flex;
      flex-direction: column;

      .video {
        border-radius: 0.4rem;
        min-height: 30rem;
      }

      .delete-button {
        margin-top: 1.6rem;
        width: 15rem;
      }
    }
  }
}
