:root {
  --gray-4: #f7f7f8;
  --gray-8: #eeeff1;
  --gray-24: #cccdd3;
  --gray-40: #aaabb5;
  --gray-64: #777989;
  --gray-80: #55586b;
  --gray-100: #2a2e46;
  --primary: #12afcb;
  --secondary: #ff92cd;
  --green: #ddf4e4;
  --green-background: #28e7b1;
}
