// DESKTOP

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;

  .content {
    flex: 1;
    background: var(--primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4rem;

    .logo {
      height: 24rem;
      width: 26rem;
    }

    .introduction {
      grid-area: content;
      font-size: 5.4rem;
      font-weight: bold;
      color: white;
      text-align: center;
      padding: 0 3.2rem;
    }

    .nav-button {
      grid-area: button;
      width: 26.5rem;
      font-size: 2.4rem;
    }
  }

  .aside {
    flex: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    .kids {
      grid-area: kids;
      height: 56rem;
    }

    .mobile-button {
      display: none;
    }
  }

  .rotated {
    position: fixed;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid var(--primary);
  }

  .top {
    top: -8rem;
    transform: rotate(90deg);
  }

  .bottom {
    bottom: -11.75rem;
    border-bottom: 200px solid white;
    transform: rotate(145deg);
  }
}

// maximum of 940px

@media (max-width: 940px) {
  .container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 'content' 'aside';
    row-gap: 4.4rem;

    .content {
      grid-area: content;
      padding: 3.2rem;

      .logo {
        grid-area: logo;
      }

      .introduction {
        grid-area: content;
        font-size: 4.4rem;
      }

      .nav-button {
        display: none;
      }
    }

    .aside {
      grid-area: aside;
      display: flex;
      flex-direction: column;

      .mobile-button {
        display: flex;
        font-size: 1.4rem;
        margin-top: 4rem;
        justify-self: center;
        width: 15rem;
        text-align: center;
      }
    }

    .top {
      display: none;
    }

    .bottom {
      display: none;
    }
  }
}
