.accordion-container {
  &.open {
    border-bottom: 0.1rem solid var(--gray-8);
  }

  &:last-of-type {
    border: none;
  }

  .accordion-wrapper {
    padding: 1.6rem;
    border-bottom: 0.1rem solid var(--gray-8);

    .accordion-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .expand-button {
        width: 3.2rem;

        .icon {
          width: 1.6rem;
          height: 1.6rem;

          &.flipped-icon {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .content {
    padding: 3.2rem 1.6rem;
  }
}
